* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.header--logo {
  width: 120px;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  font-size: 28px;
}
